body{
    background-color: rgb(224, 48, 107);
}
.box{
    min-width:100px;
    height: 100px;
    border: 3px dashed rgb(82, 187, 105);

}
.row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: rgba(53, 6, 37, 0.11);
    flex-wrap: wrap;
}
.row:nth-of-type(1) {
justify-content: flex-start;
}
.row:nth-of-type(2){
justify-content: center;
}
.row:nth-of-type(3){
    justify-content: flex-end;
}
.row:nth-of-type(4){
    justify-content: space-between;
}


